 body {
      font-family: Arial, sans-serif;
      margin: 40px;
      background: #54cbcd;
      color: #222;
      background: linear-gradient(to bottom, #000000, #2e0ee4);
    }
    h1, h2 {
      color: #340266;
    }
    ul {
      margin-left: 20px;
    }
    strong {
      color: #1a202c;
    }
    .section {
      background: #3f9cdef1;
      border-radius: 8px;
      padding: 24px;
      margin-bottom: 24px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    }